* { padding: 0; margin: 0; box-sizing: border-box; }

.window { width: 400px; height: 300px; margin: 20px auto; overflow: hidden; }

.images {
    display: flex;
    transition: all 0.2s;
}


.images > img {
    width: 100%;
}

.button-wrapper,
.control {
    text-align: center;
}

.button-wrapper > button,
.control > button {
    padding: 10px;
    border: none;
    border-radius: 50%;
}

