html{
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}

div {
    width: 100%; /* 块元素默认占父宽 */
    padding: 100px;
}

.one {
    background-color: thistle;
}

.two {
    background-color: mistyrose;
}

.three {
    background-color: coral;
}
