html {
    box-sizing: border-box;
    font-family: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    /*margin: 0;*/
    background:
        linear-gradient(45deg, hsla(340, 100%, 55%, 1) 0%, hsla(340, 100%, 55%, 0) 70%),
        linear-gradient(135deg, hsla(225, 95%, 50%, 1) 10%, hsla(225, 95%, 50%, 0) 80%),
        linear-gradient(225deg, hsla(140, 90%, 50%, 1) 10%, hsla(140, 90%, 50%, 0) 80%),
        linear-gradient(315deg, hsla(35, 95%, 55%, 1) 100%, hsla(35, 95%, 55%, 0) 70%);
}

nav {
    position: relative;

    perspective: 600px;
}

.cool > li > a {
    padding: 10px 20px;
    margin: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);

    color: yellow;
    font-size: 20px;
    text-decoration: none;

    display: inline-block;
}

nav ul {
    padding: 0;
    margin: 0;

    list-style: none;

    display: flex;
    justify-content: center;
}

.cool > li {
    position: relative;

    display: flex;
    justify-content: center;
}

.dropdown {
    padding: 20px;
    border-radius: 2px;

    opacity: 0; /* 将元素隐藏，元素位置仍存在网页中，可以用开发者工具选中 */

    display: none; /* 元素位置消失，即使使用开发者工具也无法选中 */

    overflow: hidden;

    position: absolute; /* 这之后三个标签即为页面加载后看到的样子 */
    top: -20px;

    transition: all 0.2s;
    transform: translateY(100px);
    will-change: transform;
}

.dropdown a {
    color: #ffc600;
    text-decoration: none;
}

.trigger-enter .dropdown {
    display: block;
}

.trigger-enter-active .dropdown {
    opacity: 1;
}

.dropdown-background {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow:
        0 50px 100px rgba(50,50,93,.1),
        0 15px 35px rgba(50,50,93,.15),
        0 5px 15px rgba(0,0,0,.1);

    position: absolute;

    display: flex;
    justify-content: center;

    transition: all 0.3s, opacity 0.1s, translate 0.2s;
    transform-origin: 50% 0%;

    opacity: 0;
}

.dropdown-background.open {
    opacity: 1;
}

.arrow {
    width: 20px;
    height: 20px;

    position: absolute;

    display: block;
    background-color: #fff;

    transform: translateY(-50%) rotate(45deg);
}

.bio {
    min-width:500px;

    display:flex;
    justify-content: center;
    align-items: center;

    line-height: 1.7;
}

.bio img {
    float: left;
    margin-right: 20px; /* 隔开图片与文字 */
}

.courses {
    min-width: 300px;
}

.courses li {
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  display: block;
}

a.button {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #000;

    color: white;

    display: block;
}

.button[href*=twitter] {
    background: #019FE9;
}

.button[href*=facebook] {
    background: #3B5998;
}

.button[href*=courses] {
    background: #ffc600;
}
