html {
    font-size: 10px;
}
body {
    background-color: #ffc600;
    font-family: 'helvetica neue';
    font-weight: 200;
    font-size: 20px;
}
p {
    margin: 0 0 3rem;
}
.words {
    max-width: 500px;
    padding: 1rem 2rem 1rem 5rem;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
    background-size: 100% 3rem;
    position: relative;
    line-height: 3rem;
}
.words::before {
    content: '';

    width: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent #efe4e4;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 30px;
}
