html {
    box-sizing: border-box;
    background-color: #ffc600;

    font-size: 12px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;

    font-family: "Amatic SC", cursive;

    position: relative;
}

h1 {
    margin-bottom: 0;
    /*border: 1px solid red;*/

    text-align: center;
    font-size: 10rem;
    line-height: 1;
}

.score {
    padding: 0 3rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.2);

    line-height: 1;
}

.start-button {
    border: none;
    border-radius: 0.5rem;
    padding: 10px 40px;
    background-color: #ffc600;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    outline: none;

    font-size: 3rem;
    line-height: 1.2;
    font-family: inherit;

    position: absolute;
    top: 465px;
    left: 120px;

    transition: all 0.3s;
}

.start-button:hover {
    color: rgba(255, 0, 0, 0.6);
}

.game {
    /*border: 1px solid red;*/
    width: 50rem;
    height: 34rem;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
}

.hole {
    flex: 1 0 33.33%;

    overflow: hidden;

    position: relative;
}

.hole::after {
    content:'';

    display: block;

    width: 100%;
    height: 6rem;
    background-image: url("./imgs/dirt.svg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;

    position: absolute;
    z-index: 2;
    bottom: -2.5rem;
}

.mole {
    width: 100%;
    height: 100%;

    background-image: url("./imgs/mole.svg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 60%;

    position: absolute;
    top: 100%;

    transition:all 0.3s;
}

.hole.up .mole {
    top: 0;
}

.highest-score {
    position: absolute;
    top: -50px;
    left: 110px;
    
    font-size: 4.5rem;
    text-align: center;
}

.highest-score > span {
    color: red;
}