* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    height: 100vh;

    background-color: grey;
    background-image: url("./imgs/background-image-min.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    position: relative;
}

header {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 18%;
    left: 4px;

}

main {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.wrapper {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;

    text-align: center;
}

.wrapper > div:nth-child(2) {
    margin-left: -22px;
}

.wrapper > div:nth-child(3) {
    margin-left: -110px;
}

.row {
    margin: 20px;
}

.row kbd.key,
.search-button {
    margin: 0 10px;
}

kbd.key,
.search-button {
    width: 70px;
    height: 70px;
    border: 1px solid #373737;
    border-radius: 6px;
    background: linear-gradient(to bottom, #292929 0%,#111111 100%);
    box-shadow: 0 0 0 1px #1A1B1C, 0 0 0 1px #1F2020, 0 3px 0 2px #080808;

    text-transform: uppercase;
    color: #C5C5C5;
    font-size: 16px;
    font-family: Helvetica;

    position: relative;

    display: inline-block;
}

kbd.key > button {
    position: absolute;
    bottom: 0;
    right: 0;

    display: none;
}

kbd.key:hover > button {
    display: inline-block;
}

kbd.key > .text {
    font-size: 24px;
    line-height: 1.2;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

kbd.key > img {
    width: 16px;
    height: 16px;

    position: absolute;
    bottom: 2px;
    left: 2px;
}

#search-input {
    width: 646px;
    height: 46px;
    margin-top: 3px;
    border-style: none;
    border-radius: 6px;

    font-size: 20px;
}

.search-button {
    width: 140px;
    height: 40px;
}
