* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
    overflow: hidden;

    background-color: grey;
    background-image: url("./imgs/background-image-min.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    position: relative;
}

main {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

main > .search-wrapper {
    width: 960px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;

    text-align: center;
}

.wrapper > div:nth-child(2) {
    margin-left: -22px;
}

.wrapper > div:nth-child(3) {
    margin-left: -110px;
}

.row {
    margin: 20px;
}

.row kbd.key { 
    margin: 0 10px;
}

kbd.key,
.search-button {
    width: 70px;
    height: 70px;
    border: 1px solid #373737;
    border-radius: 6px;
    background: linear-gradient(to bottom, #292929 0%,#111111 100%);
    box-shadow: 0 0 0 1px #1A1B1C, 0 0 0 1px #1F2020, 0 3px 0 2px #080808;

    text-transform: uppercase;
    color: #C5C5C5;
    font-size: 16px;
    font-family: Helvetica;

    position: relative;

    display: inline-block;
}

kbd.key > button {
    position: absolute;
    bottom: 0;
    right: 0;

    display: none;
}

kbd.key:hover > button {
    display: inline-block;
}

kbd.key > .text {
    font-size: 24px;
    line-height: 1.2;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

kbd.key > img {
    width: 16px;
    height: 16px;

    position: absolute;
    bottom: 2px;
    left: 2px;
}

#search-input {
    width: 640px;
    height: 46px;
    padding-left: 6px;
    margin-top: 3px;
    border-style: none;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.3);

    font-size: 20px;
}

.search-button {
    width: 140px;
    height: 40px;
}

button#bing {
    margin-right: 3px;
}

@media (max-width: 960px) {
    main > .search-wrapper {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    main > .search-wrapper > #search-input {
        width: 100%;
        margin: 10px;
    }

    main > .search-wrapper > .search-button {
        width: 100px;
        margin: 0 10px; 
    }

    main > .wrapper {
        width: 96%;
    }

    main > .wrapper > div.row {
        margin: 10px 6px;
    }

    main > .wrapper > div.row kbd.key {
        width: 7%;
        height: 50px;
        margin: 0 1%;
    }

    main > .wrapper > div.row kbd.key:hover > button,
    main > .wrapper > div.row kbd.key > img {
        display: none;
    }
}