body {
    padding: 0;
    margin: 0;
    background-color: rgba(222, 222, 222, 1);

    font-family: "Microsoft YaHei UI", sans-serif;
}

header {
    min-width: 1000px;
    height: 100px;
    background-color: rgba(51, 51, 51, 1);
}

#top {
    width: 100%;
    height: 100px;
}

#top a {
    text-decoration: none;
    color: white;
}

#top a:hover {
    text-decoration: underline;
}

#top img {
    height: 80px;
    margin: 10px 0 0 100px;
}

#top-nav {
    height: 100px;
    padding: 0;
    margin: 0 100px 0 0;

    float: right;

    line-height: 100px;
}

#top-nav li {
    margin-left: 20px;

    list-style-type: none;

    display: inline-block;
}

article {
    width: 85%;
    border: thin solid rgb(203, 203, 203);
    padding: 30px;
    margin: 30px auto;
    background-color: white;
    line-height: 30px;
    word-break: normal;
    border-right-style: ridge;
    border-bottom-style: ridge;
}

article p {
    text-indent: 2em;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}

th {
    background-color: rgb(51, 51, 51);
    color: white;
    border: 1px solid rgb(203, 203, 203);
    text-align: left;
}

td {
    border: 1px solid rgb(203, 203, 203);
}

th, td {
    width: 40%;
}

th:last-child,
td:last-child {
    width: 20%;
}

tr:last-child {
    background-color: rgb(203, 203, 203);
}

#register h2 {
    height: 40px;
    border-left: 3px solid rgb(205, 205, 205);
    line-height: 40px;
}

.text {
    padding-left: 128px;
    color: rgb(166, 167, 195);
}

.gender-options,
.city-options,
.hobby-options {
    padding-left: 80px;
}

#message {
    position: relative;
}

#description {
    position: absolute;
    left: 48px;
    top: 0;
}

#detail {
    margin-left: 130px;
}

#submit {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: rgb(51, 85, 208);

    color: white;
    font-size: 20px;
    line-height: 40px;
}

footer {
    height: 100px;
    background-color: black;
    color: white;
    line-height: 100px;
    text-align: center;
}
