* { padding: 0; margin: 0; box-sizing: border-box; }
.token.selector, .token.property, .token.function, .token.comment, .token.punctuation {
    color: black;
}
#code {
    overflow: auto;
    display: inline-block;
}
